.weather-app {
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  padding: 20px;
  border-radius: 15px;
  margin: 60px auto;
  max-width: 600px;
  font-family: 'Mali', cursive;
}

.celsius-selector,
.fahrenheit-selector, .current-location{
  margin: 5px auto;
  display: block;
  background: transparent;
  border: 1px solid #052f42;
  border-radius: 30px;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
  transition: all 200ms ease-in-out;
  font-family: 'Poppins', sans-serif;
}

.current-location:hover{
background: #08a9f3;
color: white;
cursor: pointer;
}
.celsius-selector:hover {
  background: #08a9f3;
  color: white;
  cursor: pointer;
}
.fahrenheit-selector:hover {
  background: #08a9f3;
  color: white;
  cursor: pointer;
}

h1 {
  color: #052f42;
  font-size: 30px;
  font-weight: bold;
  line-height: 28px;
font-family: 'Mali', cursive;
}

.weather-description {
  list-style: none;
  text-align: left;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}
.temperature {
  text-align: right;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
}

.weather-temperature img {
    margin-right: 10px;
}

.hr-bar {
  border: 2px solid #08a9f3;
  border-radius: 5px;
  margin: 5px;
}
div .data-weather {
  text-align: center;
  font-size: 14px;
}
.other-days {
  color: #052f42;
  font-weight: bold;
  text-align: center;
}
.min-other-days {
  color: blue;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}
.max-other-days {
  color: red;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}
.coder {
  text-align: center;
  max-width: 600 px;
  margin: -50px auto;
  font-family: 'Poppins', sans-serif;
}
